# Ignore Python cache files and folders

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/
.env

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE/editor folders
.vscode/
.idea/
